In [17]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np


# Import API key
#from api_keys import geoapify_key

In [18]:
# Study data files
disaster_path= r"Data/group8_disaster.csv"


# Read the  data 
disaster_metadata = pd.read_csv(disaster_path)

#disaster_metadata=disaster_metadata.dropna()
# Combine the data into a single DataFrame
#Combined_data= pd.merge(mouse_metadata, study_results, how='right')

# Display the data table for preview
#Combined_data = Combined_data[['Mouse ID', 'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites', 
#                               'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)']]
disaster_metadata.head()
#Combined_data.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1970-0013-ARG,1970,13,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25000.0,15.001282,NaN,NaN,NaN,NaN
1,1970-0109-AUS,1970,109,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Ada,...,NaN,NaN,NaN,NaN,72475.0,15.001282,NaN,NaN,NaN,NaN
2,1970-0044-BEN,1970,44,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.0,15.001282,NaN,NaN,NaN,NaN
3,1970-0063-BGD,1970,63,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,3648000.0,NaN,NaN,86400.0,15.001282,NaN,NaN,NaN,NaN
4,1970-0026-BGD,1970,26,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,...,NaN,110.0,NaN,NaN,NaN,15.001282,NaN,NaN,NaN,NaN

In [19]:
disaster_metadata.columns

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [20]:
disaster_metadata=disaster_metadata.drop(columns=['Glide','Seq','Disaster Subtype', 'Disaster Subsubtype','Event Name','Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'ISO', 'Start Day','End Day','CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'])

In [10]:
disaster_metadata.head()

,Dis No,Year,Disaster Group,Disaster Subgroup,Disaster Type,Country,Region,Continent,Location,Latitude,...,End Year,End Month,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$)
0,1970-0013-ARG,1970,Natural,Hydrological,Flood,Argentina,South America,Americas,Mendoza,NaN,...,1970,1.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,25000.0
1,1970-0109-AUS,1970,Natural,Meteorological,Storm,Australia,Australia and New Zealand,Oceania,Queensland,NaN,...,1970,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,72475.0
2,1970-0044-BEN,1970,Natural,Hydrological,Flood,Benin,Western Africa,Africa,Atacora region,NaN,...,1970,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.0
3,1970-0063-BGD,1970,Natural,Meteorological,Storm,Bangladesh,Southern Asia,Asia,"Khulna, Chittagong",NaN,...,1970,11.0,300000.0,NaN,3648000.0,NaN,3648000.0,NaN,NaN,86400.0
4,1970-0026-BGD,1970,Natural,Meteorological,Storm,Bangladesh,Southern Asia,Asia,NaN,NaN,...,1970,4.0,17.0,NaN,110.0,NaN,110.0,NaN,NaN,NaN

In [21]:
disaster_metadata_type=disaster_metadata['Disaster Type'].unique()
disaster_metadata_type

array(['Flood', 'Storm', 'Drought', 'Landslide', 'Earthquake', 'Epidemic',
       'Wildfire', 'Mass movement (dry)', 'Extreme temperature ',
       'Volcanic activity', 'Insect infestation', 'Impact',
       'Animal accident', 'Glacial lake outburst'], dtype=object)

In [ ]:
#calculating the value count of disaster type
disaster_metadata['Disaster Type'].unique()
#calculating the sort the data in ascending oredr (pie chart for first three max.)

In [ ]:
#plot a cluster bar chart over the years against  count of disater with different colors in each column
#which disaster was most frequent

In [ ]:
#which disaaster was most destructive (based on number of total effective and Total Damages )

In [ ]:
#plot a scatter chart to show most three frequent disaster number against saesons

In [ ]:
# Geographical questions:
#Which regions and countries have been most affected by
#natural disasters?(Use API to plot it)(use int/lat)
#show number of death based on size of circles n map
#plot line chart for total number of disasters over years against continents

In [ ]:
#which kind of disaster was most destructive financially?
#show it in bar chart